<ul [style.height]="heigh">
  <li *ngFor="let item of items" (click)="selectOption(item)" [ngClass]="{'selected-item': selectedItem?.id === item.id}">
    <ng-container
      [ngTemplateOutlet]="listViewItemTpl || defaultItemTpl"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </li>
</ul>

<ng-template #defaultItemTpl let-item="item">
  <span>{{ item.label }}</span>
</ng-template>

<!-- How implicit actually works? -->
<!-- How properly style third party components?-->
