<div class="list-container">
  <ul>
    <li
      class="tasks_area__list"
      *ngFor="let item of items"
      (click)="itemSelected.emit(item)"
      [ngClass]="{ 'selected-list': item.id === itemSelectedId }"
    >
      <ng-container
        [ngTemplateOutlet]="defaultItemTpl"
        [ngTemplateOutletContext]="{ item: item }"
      ></ng-container>
    </li>
  </ul>
</div>

<ng-template #defaultItemTpl let-item="item">
  <span class="material-icons"> list </span>
  <span>{{ item.label }}</span>
</ng-template>
