@charset "utf-8";
@use "base/reset";
@use "base/typography";
@use "abstracts/colors";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

html,
body {
    height: 100%;
    color: colors.$dark-gray;
}

html {
    font-size: 10px;
}