@use 'colors';

:host {
    width: 100%;
    height: 100%;
    display: flex;

    .sidebar {
        background-color: colors.$light-grey;
        height: 100%;
        min-width: 212px;
    }

    .workspace {
        background-color: colors.$dark-blue;
        flex: 1;
        height: 100%;
    }

    @media (max-width: 500px) {
        .sidebar {
            display: none;
        }
    }
}