@charset "utf-8";
@use "reset";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

html,
body {
    height: 100%;
    //color: white;
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}