<div class="tasks-area">
  <div class="tasks-area__list_area">
    <ngx-skeleton-loader
      *ngIf="isLoading"
      count="2"
      appearance="line"
      animation="pulse"
    ></ngx-skeleton-loader>

    
    <app-list-view
      *ngIf="tasksList$ | async"
      [items]="items"
      [options]="{ itemSize: 37 }"
      (selectionChanged)="onSelectedTaskList($event)"
    >
      <!-- list item template-->
      <ng-template appListViewItem let-item>
        <span class="material-icons"> list </span>
        <span>{{ item.label }}</span>
      </ng-template>
    </app-list-view>
  </div>
</div>
<div class="tasks-control">
  <button (click)="onAddList()" class="tasks-control__add">
    <span class="material-icons"> add </span>
    New List
  </button>
</div>
