<div class="tasks-area">
    <div class="tasks-area__list_area" *ngIf="tasksList$ | async">

        <!--<ul *ngLet="selectedListId$ | async as selectedListId">
            <li class="tasks_area__list" *ngFor="let list of tasksList$ | async" (click)="onSelectedList(list.id)"
                [ngClass]="{'selected-list' : list.id === selectedListId}">
                <span class="material-icons">
                    list
                </span>
                <span>{{list.name}}</span>
            </li>
        </ul>-->

        <app-list-view [items]="items" (itemSelected)="onSelectedTaskList($event)"></app-list-view>
    </div>
</div>
<div class="tasks-control">
    <button (click)="onAddList()" class="tasks-control__add">
        <span class="material-icons">
            add
        </span>
        New List
    </button>
</div>