@use 'colors';
@use 'mixins';

:host {

    @include mixins.no-select;

    display: flex;
    flex-direction: column;
    height: 100%;

    .tasks-area {
        flex-grow: 1;

        ul {
            list-style-type: none;
        }

        &__list,
        li {
            padding: 0.65rem;
            display: flex;
            align-items: center;
        }

        &__list,
        .material-icons {
            padding-right: 0.65rem;
        }

        &__list,
        .selected-list {
            background-color: lighten(colors.$dark-gray, 50%);
        }
    }

    .tasks-control {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__add {
            flex: 1;
            height: 100%;
            border: none;
            background-color: inherit;
            color: inherit;
            outline: none;
            padding-left: 15px;
            display: flex;
            align-items: center;

            .material-icons {
                font-size: 1.6rem;
            }

            &>* {
                margin-right: 10px;
            }
        }
    }
}